function Main.main 4
push constant 18          // len("How many numbers? ")
call String.new 1         // creating new string
push constant 72          // H
call String.appendChar 2  // Appending H
push constant 111         // o
call String.appendChar 2  // Appending o
push constant 119         // w
call String.appendChar 2  // Appending w
push constant 32          // " " 
call String.appendChar 2  // Appending " "
push constant 109         // m
call String.appendChar 2  // Appending m
push constant 97          // a
call String.appendChar 2  // Appending a
push constant 110         // n
call String.appendChar 2  // Appending n
push constant 121         // y
call String.appendChar 2  // Appending y
push constant 32          // " "
call String.appendChar 2  // Appending " "
push constant 110         // n
call String.appendChar 2  // Appending n
push constant 117         // u
call String.appendChar 2  // Appending u
push constant 109         // m
call String.appendChar 2  // Appending m
push constant 98          // b
call String.appendChar 2  // Appending b
push constant 101         // e
call String.appendChar 2  // Appending e
push constant 114         // r
call String.appendChar 2  // Appending r
push constant 115         // s
call String.appendChar 2  // Appending s
push constant 63          // ?
call String.appendChar 2  // Appending ?
push constant 32          // " "
call String.appendChar 2  // Appending " "
call Keyboard.readInt 1   // Created string
pop local 1               // Saving to length
push local 1              // Creating new array of length
call Array.new 1          // Created array
pop local 0               // Saving to a
push constant 0           // pushing 0
pop local 2               // Saving i = 0
label WHILE_EXP.1         // while (i < length)
push local 2              // pushing i
push local 1              // pushing length
lt                        // if i < length
not                       // if !(i < length)
if-goto WHILE_END.1       // if !(i < length) goto WHILE_END.1
push local 2              // Otherwise, puhh i
push local 0              // push a
add                       // a[i]
push constant 16          // len("Enter a number: ")
call String.new 1         // creating new string
push constant 69
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 117
call String.appendChar 2
push constant 109
call String.appendChar 2
push constant 98
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 58
call String.appendChar 2
push constant 32
call String.appendChar 2
call Keyboard.readInt 1    // Push input number to stack
pop temp 0                 // Save input number to temp 0
pop pointer 1              // Pop saved address a[i] to pointer 1 (that)
push temp 0                // Push input number to stack
pop that 0                 // Pop input number to a[i]
push local 3               // Push sum
push local 2               // Push i
push local 0               // Push a
add                        // a[i]
pop pointer 1              // Pop saved address a[i] to pointer 1 (that)
push that 0                // Push a[i]
add                        // sum + a[i]
pop local 3                // Pop sum + a[i] to sum
push local 2               // Push i
push constant 1            // Push 1
add                        // i + 1
pop local 2                // Pop i + 1 to i
goto WHILE_EXP.1 
label WHILE_END.1 
push constant 15            // len("The average is ")
call String.new 1
push constant 84
call String.appendChar 2
push constant 104
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 118
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 103
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 105
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 32
call String.appendChar 2
call Output.printString 1
pop temp 0                  // Pop printString result to temp 0
push local 3                // Push sum
push local 1                // Push length
call Math.divide 2          // sum / length
call Output.printInt 1      // Print result
pop temp 0                  // Pop printInt result to temp 0
push constant 0             // Push 0
return                      // Return 0
