function Bird.new 0
push constant 9
call Memory.alloc 1
pop pointer 0
push constant 0
push constant 25
add
pop this 0
push constant 256
push constant 25
sub
pop this 1
push constant 10
pop this 2
push constant 8
neg
pop this 3
push argument 0
pop this 4
push argument 1
pop this 5
push constant 18
pop this 6
push constant 13
pop this 7
push constant 0
pop this 8
push pointer 0
call Bird.render 1
pop temp 0
push pointer 0
return
function Bird.dispose 0
push argument 0
pop pointer 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function Bird.render 0
push argument 0
pop pointer 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push this 4
push constant 6
add
push this 5
push this 4
push constant 6
add
push constant 5
add
push this 5
call Screen.drawRectangle 4
pop temp 0
push this 4
push constant 4
add
push this 5
push constant 1
add
push this 4
push constant 4
add
push constant 1
add
push this 5
push constant 1
add
call Screen.drawRectangle 4
pop temp 0
push this 4
push constant 3
add
push this 5
push constant 2
add
push this 4
push constant 3
add
push this 5
push constant 2
add
call Screen.drawRectangle 4
pop temp 0
push this 4
push constant 1
add
push this 5
push constant 3
add
push this 4
push constant 1
add
push constant 3
add
push this 5
push constant 3
add
call Screen.drawRectangle 4
pop temp 0
push this 4
push this 5
push constant 4
add
push this 4
push this 5
push constant 4
add
push constant 2
add
call Screen.drawRectangle 4
pop temp 0
push this 4
push constant 1
add
push this 5
push constant 7
add
push this 4
push constant 1
add
push this 5
push constant 7
add
call Screen.drawRectangle 4
pop temp 0
push this 4
push constant 2
add
push this 5
push constant 8
add
push this 4
push constant 2
add
push constant 2
add
push this 5
push constant 8
add
call Screen.drawRectangle 4
pop temp 0
push this 4
push constant 4
add
push this 5
push constant 9
add
push this 4
push constant 4
add
push this 5
push constant 9
add
call Screen.drawRectangle 4
pop temp 0
push this 4
push constant 5
add
push this 5
push constant 10
add
push this 4
push constant 5
add
push constant 1
add
push this 5
push constant 10
add
call Screen.drawRectangle 4
pop temp 0
push this 4
push constant 7
add
push this 5
push constant 11
add
push this 4
push constant 7
add
push constant 3
add
push this 5
push constant 11
add
call Screen.drawRectangle 4
pop temp 0
push this 4
push constant 11
add
push this 5
push constant 10
add
push this 4
push constant 11
add
push constant 4
add
push this 5
push constant 10
add
call Screen.drawRectangle 4
pop temp 0
push this 4
push constant 15
add
push this 5
push constant 9
add
push this 4
push constant 15
add
push this 5
push constant 9
add
call Screen.drawRectangle 4
pop temp 0
push this 4
push constant 10
add
push this 5
push constant 9
add
push this 4
push constant 10
add
push this 5
push constant 9
add
call Screen.drawRectangle 4
pop temp 0
push this 4
push constant 9
add
push this 5
push constant 8
add
push this 4
push constant 9
add
push this 5
push constant 8
add
call Screen.drawRectangle 4
pop temp 0
push this 4
push constant 10
add
push this 5
push constant 7
add
push this 4
push constant 10
add
push this 5
push constant 7
add
call Screen.drawRectangle 4
pop temp 0
push this 4
push constant 11
add
push this 5
push constant 8
add
push this 4
push constant 11
add
push constant 4
add
push this 5
push constant 8
add
call Screen.drawRectangle 4
pop temp 0
push this 4
push constant 16
add
push this 5
push constant 7
add
push this 4
push constant 16
add
push this 5
push constant 7
add
call Screen.drawRectangle 4
pop temp 0
push this 4
push constant 11
add
push this 5
push constant 6
add
push this 4
push constant 11
add
push constant 4
add
push this 5
push constant 6
add
call Screen.drawRectangle 4
pop temp 0
push this 4
push constant 14
add
push this 5
push constant 3
add
push this 4
push constant 14
add
push this 5
push constant 3
add
push constant 2
add
call Screen.drawRectangle 4
pop temp 0
push this 4
push constant 13
add
push this 5
push constant 2
add
push this 4
push constant 13
add
push this 5
push constant 2
add
call Screen.drawRectangle 4
pop temp 0
push this 4
push constant 12
add
push this 5
push constant 1
add
push this 4
push constant 12
add
push this 5
push constant 1
add
call Screen.drawRectangle 4
pop temp 0
push this 4
push constant 12
add
push this 5
push constant 3
add
push this 4
push constant 12
add
push this 5
push constant 3
add
push constant 1
add
call Screen.drawRectangle 4
pop temp 0
push this 4
push constant 9
add
push this 5
push constant 2
add
push this 4
push constant 9
add
push this 5
push constant 2
add
push constant 2
add
call Screen.drawRectangle 4
pop temp 0
push this 4
push constant 10
add
push this 5
push constant 5
add
push this 4
push constant 10
add
push this 5
push constant 5
add
call Screen.drawRectangle 4
pop temp 0
push this 4
push constant 5
add
push this 5
push constant 4
add
push this 4
push constant 5
add
push this 5
push constant 4
add
call Screen.drawRectangle 4
pop temp 0
push this 4
push constant 6
add
push this 5
push constant 5
add
push this 4
push constant 6
add
push this 5
push constant 5
add
push constant 1
add
call Screen.drawRectangle 4
pop temp 0
push this 4
push constant 5
add
push this 5
push constant 7
add
push this 4
push constant 6
add
push this 5
push constant 7
add
call Screen.drawRectangle 4
pop temp 0
push constant 0
return
function Bird.erase 0
push argument 0
pop pointer 0
push constant 0
call Screen.setColor 1
pop temp 0
push this 4
push constant 6
add
push this 5
push this 4
push constant 6
add
push constant 5
add
push this 5
call Screen.drawRectangle 4
pop temp 0
push this 4
push constant 4
add
push this 5
push constant 1
add
push this 4
push constant 4
add
push constant 1
add
push this 5
push constant 1
add
call Screen.drawRectangle 4
pop temp 0
push this 4
push constant 3
add
push this 5
push constant 2
add
push this 4
push constant 3
add
push this 5
push constant 2
add
call Screen.drawRectangle 4
pop temp 0
push this 4
push constant 1
add
push this 5
push constant 3
add
push this 4
push constant 1
add
push constant 3
add
push this 5
push constant 3
add
call Screen.drawRectangle 4
pop temp 0
push this 4
push this 5
push constant 4
add
push this 4
push this 5
push constant 4
add
push constant 2
add
call Screen.drawRectangle 4
pop temp 0
push this 4
push constant 1
add
push this 5
push constant 7
add
push this 4
push constant 1
add
push this 5
push constant 7
add
call Screen.drawRectangle 4
pop temp 0
push this 4
push constant 2
add
push this 5
push constant 8
add
push this 4
push constant 2
add
push constant 2
add
push this 5
push constant 8
add
call Screen.drawRectangle 4
pop temp 0
push this 4
push constant 4
add
push this 5
push constant 9
add
push this 4
push constant 4
add
push this 5
push constant 9
add
call Screen.drawRectangle 4
pop temp 0
push this 4
push constant 5
add
push this 5
push constant 10
add
push this 4
push constant 5
add
push constant 1
add
push this 5
push constant 10
add
call Screen.drawRectangle 4
pop temp 0
push this 4
push constant 7
add
push this 5
push constant 11
add
push this 4
push constant 7
add
push constant 3
add
push this 5
push constant 11
add
call Screen.drawRectangle 4
pop temp 0
push this 4
push constant 11
add
push this 5
push constant 10
add
push this 4
push constant 11
add
push constant 4
add
push this 5
push constant 10
add
call Screen.drawRectangle 4
pop temp 0
push this 4
push constant 15
add
push this 5
push constant 9
add
push this 4
push constant 15
add
push this 5
push constant 9
add
call Screen.drawRectangle 4
pop temp 0
push this 4
push constant 10
add
push this 5
push constant 9
add
push this 4
push constant 10
add
push this 5
push constant 9
add
call Screen.drawRectangle 4
pop temp 0
push this 4
push constant 9
add
push this 5
push constant 8
add
push this 4
push constant 9
add
push this 5
push constant 8
add
call Screen.drawRectangle 4
pop temp 0
push this 4
push constant 10
add
push this 5
push constant 7
add
push this 4
push constant 10
add
push this 5
push constant 7
add
call Screen.drawRectangle 4
pop temp 0
push this 4
push constant 11
add
push this 5
push constant 8
add
push this 4
push constant 11
add
push constant 4
add
push this 5
push constant 8
add
call Screen.drawRectangle 4
pop temp 0
push this 4
push constant 16
add
push this 5
push constant 7
add
push this 4
push constant 16
add
push this 5
push constant 7
add
call Screen.drawRectangle 4
pop temp 0
push this 4
push constant 11
add
push this 5
push constant 6
add
push this 4
push constant 11
add
push constant 4
add
push this 5
push constant 6
add
call Screen.drawRectangle 4
pop temp 0
push this 4
push constant 14
add
push this 5
push constant 3
add
push this 4
push constant 14
add
push this 5
push constant 3
add
push constant 2
add
call Screen.drawRectangle 4
pop temp 0
push this 4
push constant 13
add
push this 5
push constant 2
add
push this 4
push constant 13
add
push this 5
push constant 2
add
call Screen.drawRectangle 4
pop temp 0
push this 4
push constant 12
add
push this 5
push constant 1
add
push this 4
push constant 12
add
push this 5
push constant 1
add
call Screen.drawRectangle 4
pop temp 0
push this 4
push constant 12
add
push this 5
push constant 3
add
push this 4
push constant 12
add
push this 5
push constant 3
add
push constant 1
add
call Screen.drawRectangle 4
pop temp 0
push this 4
push constant 9
add
push this 5
push constant 2
add
push this 4
push constant 9
add
push this 5
push constant 2
add
push constant 2
add
call Screen.drawRectangle 4
pop temp 0
push this 4
push constant 10
add
push this 5
push constant 5
add
push this 4
push constant 10
add
push this 5
push constant 5
add
call Screen.drawRectangle 4
pop temp 0
push this 4
push constant 5
add
push this 5
push constant 4
add
push this 4
push constant 5
add
push this 5
push constant 4
add
call Screen.drawRectangle 4
pop temp 0
push this 4
push constant 6
add
push this 5
push constant 5
add
push this 4
push constant 6
add
push this 5
push constant 5
add
push constant 1
add
call Screen.drawRectangle 4
pop temp 0
push this 4
push constant 5
add
push this 5
push constant 7
add
push this 4
push constant 6
add
push this 5
push constant 7
add
call Screen.drawRectangle 4
pop temp 0
push constant 0
return
function Bird.tick 0
push argument 0
pop pointer 0
push this 8
push this 2
lt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 8
push constant 1
add
pop this 8
label IF_FALSE0
push pointer 0
call Bird.erase 1
pop temp 0
push this 5
push this 8
add
pop this 5
push pointer 0
call Bird.render 1
pop temp 0
push constant 0
return
function Bird.jump 0
push argument 0
pop pointer 0
push this 8
push constant 1
neg
gt
push this 5
and
push constant 1
gt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 3
pop this 8
push pointer 0
call Bird.erase 1
pop temp 0
label IF_FALSE0
push constant 0
return
function Bird.isDead 0
push argument 0
pop pointer 0
push this 5
push this 0
lt
push this 5
push this 1
gt
or
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
not
return
label IF_FALSE0
push constant 0
return
function Bird.getX 0
push argument 0
pop pointer 0
push this 4
return
function Bird.getY 0
push argument 0
pop pointer 0
push this 5
return
function Bird.getWidth 0
push argument 0
pop pointer 0
push this 6
return
function Bird.getHeight 0
push argument 0
pop pointer 0
push this 7
return
